@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bg-bg1 {
  background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(./Resources/299.png);
  background-size: 100% 100%;
  background-position: center;
}
.bg-bg2 {
  background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(./Resources/300.png);
  background-size: 100% 100%;
  background-position: center;
}
.bg-bg3 {
  background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(./Resources/301.png);
  background-size: 100% 100%;
  background-position: center;
}
.bg-bg4 {
  background: linear-gradient(rgba(36, 35, 35, 0.6), rgba(36,35,35,0.6)), url(./Resources/91.png);
  background-size: 100% 100%;
  background-position: center;
}
.animate {
  animation: bounce 2s infinite;
}
@keyframes bounce {

  0% {
      transform: translateX(0);
      animation-timing-function: ease-in-out;
      animation-delay: 150;
    }
  50% {
    transform: translateX(5%);
    animation-timing-function: ease-in-out;
  } 
  100% {
    transform: translateX(0);
    animation-timing-function: ease-in-out;
    animation-delay: 150;
  }
}